{{!-- <nav class="blue darken-4">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Thing</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Slash</a></li>
        <li><a href="/create">Create</a></li>
      </ul>
    </div>
  </nav> --}}

<nav class="mynavbar">
  <div id="my_nav_title">
    <a href="/">На главную</a>
  </div>
  <div id="my_nav_add">
    <a href="/create">Добавить</a>
  </div>

</nav> 