<form action="/create" method="post">
    <h2>Create</h2>

    <div class="input-field">
        <input type="text" name="title" placeholder="title">

        <input type="text" name="description" placeholder="description">

        <input type="text" name="status" placeholder="status">
        
        <input type="number" name="latitude" placeholder="latitude">
        
        <input type="number" name="longitude" placeholder="longitude">
        
        <input type="text" name="phonenum" placeholder="phonenum">
        
        <input type="text" name="name" placeholder="name">
        
    </div>

    <button type="submit" class="btn">create</button> 
</form>