<script type="text/javascript">
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", '/getnotes', false ); // false for synchronous request
    xmlHttp.send( null );
    const data = JSON.parse(xmlHttp.responseText);

    console.log(data)
</script>
  
<script type="text/javascript">

    ymaps.ready(init);
    function init(){
        var myMap = new ymaps.Map("map", {
            center: [68.97, 33.07],
            zoom: 11,
            controls: []
        });

        var notesCollection = new ymaps.GeoObjectCollection(null, {
            preset: 'islands#blueIcon'
        })

        for (var i = 0; i < data.length; i++){
            notesCollection.add(new ymaps.Placemark([data[i].latitude, data[i].longitude], {
                balloonContentHeader: data[i].title,
                balloonContentBody: data[i].description
            }))
        }

        myMap.geoObjects.add(notesCollection)
        notesCollection.ballon.events.add('click', n => n.open())
    }
</script>

<div id="map" style="width: 100vw; height: 95vh; margin: 0%; padding: 0%"></div>
